body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  font-size: 100px;
  margin-top: 100px;
  margin-bottom: -50px;
  font-family: 'Sacramento', cursive; color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Philosopher', sans-serif;
  font-size: 40px; color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}
.leftalignh2 {
  text-align: left;
}

h3 {
  font-family: 'Montserrat', sans-serif; color:#11999E;
    text-align: left;
    font-size: 30px;
}

p {
  font-family: 'Philosopher', cursive;
  font-size: 30px;
}

.fontsize {
  font-size: 20px;
}

.leftalign {
  text-align: left;
  line-height: 2;
  margin-right: 30px;
}

.centeralign {
  text-align: center;
}

a {
  color:#11999E;
}

.top-container {
  background-color: #d7fffd;
  padding-top: 10px;
}

.middle-container {
  background-color: #a8e6cf;
}

.bottom-container {
  background-color: #d7fffd;
  padding-bottom: 10px;
}

.bottom-cloud {
  position: absolute;
  margin-top: 10px;
  margin-left: -750px;
}

.top-cloud {
  position: absolute;
  margin-top: 50px;
  margin-left: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
}

.special-events {
  float:left;
  margin-right: 30px;
}

.meeting {
  float:right;
  margin-left: 30px;
}
